[2020-06-15 13:35] WangZhouTao opened #1 "About training time and hardware"
Hi~
My machine is in-built 7700K CPU and a 1080ti GPU, it took 15 mins for one epoch training. It took more than 90 hours to complete training. Can you tell me about the training time and the GPU of your machine?

[2020-06-15 16:09] zaiweizhang commented on #1
Hi, thank you for using our code. I am using a V100 GPU, and using an Intel(R) Xeon(R) CPU E5-2698. It usually takes me about 4~5 minutes for one epoch training for batch size 8. Takes about 16 hours to complete training or model converging (for scannet). During training, I believe there is a matching step in the code taking lots of cpu resources. The training does take some time. I usually train

[2020-06-17 07:28] WangZhouTao commented on #1
Hi, thank you for your reply.
The batch size of my machine is set to 2 (single 1080ti GPU).I will try to run this code on another machine, thank you.

[2020-06-17 16:02] zaiweizhang commented on #1
No problem. I am closing this thread for now. Feel free to re-open it.

[2020-06-17 16:02] #1 closed, assigned to nobody

[2020-07-01 08:07] windmillknight opened #2 "About ground truth"
Hi~How do you get the ground truth in Figure 10?

[2020-07-01 16:07] zaiweizhang commented on #2
Thank you for your interest in our work! To get the ground truth of whether a point is close to a geometric primitive or not (bb face or bb edge), we compute the point's distance to its nearest bb face or bb edge, and say a point lies close to a BB face or a BB edge if that distance is smaller than 0.2m. We described this in Section 3.2 of the paper (beginning of page 7). For implementation detail

[2020-07-15 03:16] #2 closed, assigned to nobody

[2020-07-28 09:48] encore-zhou opened #3 "points and features are mismatch in PointnetSAModuleMatch module"
Hi, I find that there may be some mistakes in `PointnetSAModuleMatch` module.

In file proposal_module_refine.py:
line 328:
`surface_xyz, surface_features, _ = self.match_surface_center(torch.cat((obj_surface_center, surface_center_pred), dim=1), torch.cat((obj_surface_feature, surface_center_feature_pred), dim=2))`

In line 119: `match_surface_center` is defined as:
[code]

As for `torch.cat((obj

[2020-07-28 19:40] zaiweizhang commented on #3
I just checked. I agree with you. Let me change the code and test it. Thank you for pointing this out!

[2020-07-31 22:36] zaiweizhang commented on #3
Thank you for your suggestion! We have fixed the issue, and it offers a marginal improvement on ScanNet, and does nothing on SUNRGB-D. We have updated the code. Thank you, again!

[2020-07-31 22:36] #3 closed, assigned to nobody

[2020-08-03 09:37] mmahdavian opened #4 "training error"
Hi

I am getting following errors when starts training. Do you know what might be the reason?!

Ubuntu16
pytorch 1.1
tensorflow-gpu=1.14
cuda=10
cudnn=7.4
GPU=RTX2080ti

Thank You

[code]

[2020-08-03 16:54] zaiweizhang commented on #4
I searched that error online, and I think it might be a specific issue for  RTX 2080.
https://github.com/pytorch/pytorch/issues/17334

I have not met this problem before. Can you double check if you are fully running on CUDA10?
Also, it looks like the problem will randomly appear. If you run it multiple times, do you always get it on zero epoch and do you always get it on that line?

[2020-08-05 02:13] mmahdavian commented on #4
Thank You for the help

[2020-08-05 02:13] #4 closed, assigned to nobody

[2020-08-11 06:38] encore-zhou commented on #3
Hi, Thanks for your reply.
I have other questions as below.
1. I fixed the problem as mentioned before, but I only get a small improvement on ScanNet. Could you share the performance and the training configs?
2. The outputs of PrimitiveModule consists of three parts(offset, semantic scores and size residuals). The offset and semantic is well explained in the paper. But I cannot find what "size res

[2020-08-11 17:15] zaiweizhang commented on #3
For question 1, when I fixed the bug, it just gives me marginal improvements, which mean small incremental improvements, in ScanNet.

For question 2,
Yes, Size residuals means the length of an edge or size of a surface. It's not used in inference. For now, we just use it as a additional supervision and hope it can offer some improvements through multi-task. However, if you remove it, I doubt that

[2020-08-11 17:20] zaiweizhang commented on #3
Btw, I was just curious and I looked at your github. I found that you were trying to add the primitive part to Open-mmlab, right? Did you get any improvements by adding the primitive part? I am just curious. If it's confidential, feel free to not share it.

[2020-08-20 13:05] encore-zhou opened #5 "Unable reproduce the performance of SUN-RGBD"
Hi, I try to training the H3DNet on SUN-RGBD dataset(using the default configs), but my reproduced performance is lower than the paper reported. Are there others tricks that I missed?

[2020-08-20 16:42] zaiweizhang commented on #5
Hi, I am able to reproduce the results on my machines. However, I do observe some unstable behaviors. With some new experiments, I think the following parameters may give you a more stable performance.

Use batch size 16, and use the following learning rate setting:
BASE_LEARNING_RATE = 0.01 or 0.001
FLAGS_LR_DECAY_STEPS = '100, 160, 220, 260, 360'
FLAGS_LR_DECAY_RATES = '0.1, 0.1, 0.1, 0.1, 1'

I

[2020-08-21 04:42] encore-zhou commented on #5
Thank you so much. Let me try again with the new configs.

[2020-08-24 23:40] zaiweizhang commented on #5
Close it for now. Feel free to reopen it.

[2020-08-24 23:40] #5 closed, assigned to nobody

[2020-09-02 03:17] xiaodongww opened #6 "[Help wanted] How to get the tilt angle for a new RGBD image?"
Hi, thanks for your great job.  Here is a question about the training process of `SUN-RGBD`.
 I noticed that the axis is aligned to the gravity direction. The tilt angle is provided in your processed dataset. This means if I want to test the model with a new RGBD image taken from Kinect v2 sensor, I will also have to calculate the tilt angle. Do you have any idea how to do this? Are there any tool

[2020-09-02 16:51] zaiweizhang commented on #6
Hi,

This is a great question. I am actually very curious about it as well.
However, I do not have the answer. SUN-RGBD image frames come with a calibration R tilt matrix.
I have already emailed shuran, SUN-RGBD's author, about this issue.
I will let you know once I get some updates.

Thanks,
Zaiwei

[2020-09-03 02:00] xiaodongww commented on #6
Thanks for your quick reply.
I just checked the original SUN-RGBD paper. As you said, it did mention the alignment process as follows:

It also mentioned that the algorithm may fail and need to manually fix the failure cases. I was wondering how often this algorithm fails.:joy:

[2020-09-03 21:38] zaiweizhang commented on #6
I checked their provided SUN RGBD toolkit and I did not find the code for their automatic algorithm.
I will email the author for this algorithm. I am also curious about how often this algorithm fails.
I will let you know if I have some updates.

Thanks for your interest in our work btw!

Zaiwei

[2020-09-20 09:43] cuge1995 opened #7 "How about it's performance on KITTI 3D ?"

[2020-09-21 09:18] WangZhouTao commented on #1
sorry, I reconfirmed the training time. H3dnet takes about 8 minutes to train an epoch on my machine. Correct here.

[2020-09-21 13:24] zaiweizhang commented on #7
Hi,

Thanks for your interest in our work!
We have not tried to train or test on KITTI 3D mainly due to that the codebase we are using, VoteNet, does not work well with outdoor Lidar pointcloud.
See issue here: https://github.com/facebookresearch/votenet/issues/53

We think that applying our idea to 3D lidar pointcloud detection should be beneficial and we are also working on related follow up res

[2020-10-14 14:01] MezereonXP opened #8 "About the PRED_PATH in show_results_sunrgbd.py"
Hi zaiweizhang,

When I am trying to make visualization on the result of a checkpoint, I found that the PRED_PATH in show_results_sunrgbd.py is confused. After I execute the eval.py, there is no record of predictions.

Could you please give me some advices to set the PRED_PATH or construct the prediction files?

Thanks,
Ke

[2020-10-15 03:21] GitBoSun commented on #8
Hi Ke,
Thanks for your interest in our paper!
When you run the eval.py, you will specify the `--dump_dir`, which is the folder containing predicted results. The files in that folder will be like `'center'+scan_name+'_nms.npy'`. Set the PRED_PATH to this folder and you will load and visualize the predictions.
Sorry for the confusion. If you have further questions, please let me know!
Best,
Bo

[2020-10-15 12:00] MezereonXP commented on #8
Thanks for your reply.

My shell likes:
[code]

But after I execute the shell and specify the ```--dump_dir```, there is only a txt file named ```log_eval.txt``` in the dump dir.

[2020-10-15 12:45] MezereonXP commented on #8
I just found the function ```log_string``` which can write the string into the log file in eval.py.
But I could not find any other functions which save the prediction to the dump dir.

[2020-10-24 07:07] raoyongming opened #9 "Results on ScanNet"
Hi, thanks for sharing your code.

I am trying to reproduce the results on ScanNet using the default configs. But I can only obtain around 64-65 mAP@0.25, which is lower than the results in your paper (67.2). Do you have any advice to reproduce your results?

Here are the training logs [log_train.txt](https://github.com/zaiweizhang/H3DNet/files/5432522/log_train.txt) [log_train_run2.txt](https://g

[2020-10-24 15:30] #7 closed, assigned to nobody

[2020-10-24 21:47] zaiweizhang commented on #9
I briefly looked at your log files. I do think that the performance is different.
Here are two log files from our experiments.
[log_train.txt](https://github.com/zaiweizhang/H3DNet/files/5433817/log_train.txt)
[log_train_2.txt](https://github.com/zaiweizhang/H3DNet/files/5433818/log_train_2.txt)

Would you mind sharing your pytorch, conda, and cudnn version?

[2020-10-25 05:31] raoyongming commented on #9
Thanks for your quick reply. My experiments were conducted using 4 1080ti gpus with pytorch 1.6.0, cuda 10.2 and cudnn 7.6.5

[2020-10-25 06:38] zaiweizhang commented on #9
Since we are using Votenet's codebase, most of our experiments are conducted with pytorch 1.1.0. cuda 10.0, and cudnn 7.6
I have also tried with pytorch version 1.2.0, and cuda 10.1. The results are similar.

I would suggest you try our code with this setting: pytorch 1.1.0. cuda 10.0, and cudnn 7.6.

[2020-10-26 15:25] raoyongming commented on #9
I tried using pytorch 1.1.0 and 3 gpus (bs=9) to conduct the experiments and obtained 67-68 mAP@0.25 (slightly better than the results in your paper). Maybe it is because batch size = 2 on each gpu is too small for BN. Thanks for your help!

[2020-10-26 15:25] #9 closed, assigned to nobody

[2020-11-12 10:21] praj441 opened #10 "How to use H3DNet on custom dataset?"
Hi @zaiweizhang , @GitBoSun
Please provide tips on how to use H3DNet on our custom dataset, one having very dfferent distribution.
Specifically how to properly tune/choose the config parameters and threshold values?

[2020-11-12 19:17] zaiweizhang commented on #10
For custom datasets, there are two major components to look at: dataset and threshold values (model config).

1. For dataset, if the custom datasets contain instance label/mask, then please just refer to the code in scannet_detection_dataset_hd.py for label generation. Basically, you will use the bounding box labels to get the plane labels (plane mask, plane center voting) and also line/edge label

[2020-11-12 19:20] zaiweizhang commented on #6
I still did not get any response from the author.

[2020-11-13 03:20] xiaodongww commented on #6
@zaiweizhang  Thanks for your help anyway. I will try it later and will let you know if I found something useful.  For now, I am closing this issue.

[2020-11-13 03:20] #6 closed, assigned to nobody

[2020-11-13 03:31] xiaodongww opened #11 "Request for trained models."
Hi, is it possible to provide the model (ScanNet and SUN RGB-D) reported in your paper?

Thanks very much.

[2020-11-13 05:11] zaiweizhang commented on #11
Hi,

Here is a link to scannet and sunrgbd models with corresponding log file.
https://drive.google.com/file/d/1WGAMrG3cyPkFRHPBdHgwhXfuKFLAQSCh/view?usp=sharing

I am a bit curious. Are you not able to reproduce the results?
I have tried our code under different machines/clusters. It seems working fine.

In addition, other people can reproduce the results. [https://github.com/zaiweizhang/H3DNet/i

[2020-11-13 06:17] praj441 commented on #10
@zaiweizhang
Thank you very much for your elaborate reply. I will try to implement it.

[2020-11-13 07:02] xiaodongww commented on #11
Thanks for your quick reply. I need one well-trained model to do some comparison. However, it is a long time since the last time I trained the model. As a result, I am not very sure whether my model file is properly and well trained.  I remember that the results were right, but that model failed. I think that model may be mistakenly rewritten by a trial experiment.

As for the evaluation disparity

[2020-11-13 07:14] zaiweizhang commented on #11
Yes. We report the performance evaluated during training.
You can look at train.py for how we do the evaluation.

No problem. I am always ready to help.

[2020-11-13 07:20] #11 closed, assigned to nobody

[2020-11-24 09:37] praj441 opened #12 "Doubt regarding heading angle and box sizes !!"
@GitBoSun @zaiweizhang
Hi,
In file sunrgbd/sunrgbd_detection_dataset_hd, it is mentioned in comments that, sizes l,w,h are half the box dimensions and angle is measured from +x to -y.
While, in file utils/show_results_sunrgbd.py, the box sizes l,w,h seems to be taken as equal to the predicted/gt box dimensions.
Please comment on exactly what sizes l,w,h, and the heading angle represent in the inpu

[2020-11-26 03:06] ramanpreet9 opened #13 "Evaluating on custom data/images"
Hi @zaiweizhang , @GitBoSun

How can I run the model for detecting objects on my custom data/images? The classes can still be the same as scannet/sunrgbd dataset for now. From what i understand based on looking at sunrgbd data:
For evaluation
I need 3 files -
1) bbox.npy - this contains 3D bboxes of objects in the scene
2) pc.npz - this contains the point cloud
3) votez.npz - this contains a Nx10

[2020-11-26 04:12] zaiweizhang commented on #13
First of all, for SUNRGBD benchmark, tilt angle is provided with the dataset. We can apply it to the point clouds so that the axis of all point clouds is aligned to the gravity direction. This tilt angle needs to be calculated with some algorithm and some manual adjustments, see [here](https://github.com/zaiweizhang/H3DNet/issues/6).
I have not tried to train with depth scans not aligned to the gr

[2020-11-26 04:58] GitBoSun commented on #8
Hi, sorry for the confusion. We forgot to add dump_results to eval.py. We've updated it. Btw, you can use the dump_results function normally in train.py.

[2020-11-26 05:36] GitBoSun commented on #12
Hi,
Sorry for the confusion. In our experiments, we use full size rather than half size.

[2020-12-05 08:58] praj441 commented on #12
@GitBoSun
Hi,
Thank you very much for your reply. I am really sorry for the inconvenience again but can you also please comment about the heading angle.
In the file sunrgbd/sunrgbd_detection_dataset_hd (line 17), the comment is as follows:-  "The heading angle is a rotation rad from +X rotating towards -Y. (+X is 0, -Y is pi/2)"

But I think the angle is measured from +X rotating towards +Y. (+X i

[2020-12-08 05:21] praj441 commented on #12
To all of those having similar doubt like me, my conclusion is as follow:
If you are preparing your custom dataset, then in the labels, the sizes l,w,h should be half of the actual dimensions of the box. And the heading angle should be +X rotating towards -Y. (+X is 0, -Y is pi/2).

[2020-12-08 05:41] zaiweizhang commented on #12
Hi praj441,

Sorry for the late reply. I thought the question is still about utils/show_results_sunrgbd.py. Let me assign this question to me.

There is confusion.
We do use half of the actual dimensions of the box for SUNRGBD, and use the full dimensions for ScanNet. Your conclusion is correct.

Thanks again for your interests in our work. I will definitely try to get back to you quicker next tim

[2020-12-08 05:41] #8 closed, assigned to GitBoSun

[2020-12-08 05:41] zaiweizhang commented on #13
Closing this for now. Feel free to reopen it.

[2020-12-08 05:41] #13 closed, assigned to nobody

[2020-12-08 05:59] praj441 commented on #12
@zaiweizhang
Thank you very much for confirming!

[2020-12-08 05:59] #12 closed, assigned to GitBoSun, zaiweizhang

[2020-12-09 13:36] wisper181 opened #14 "OSError: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.27' not found"
I  execute this code on Ubuntu16.04,then there is an error:OSError: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.27' not found.Is there any way to deal with this bug,except upgrading the system.Wish ur help,plz.

[2020-12-09 17:11] zaiweizhang commented on #14
Can you provide some more information? Did you get this error when launching python? Or it's related to some package import?

[2020-12-10 06:50] wisper181 commented on #14
![image](https://user-images.githubusercontent.com/37687820/101731611-d7b10300-3af6-11eb-8655-9f1bbe57945a.png)
thx for your timely reply.I try to visualize predictions and ground truths,and get this problem. ^_^

[2020-12-11 21:04] zaiweizhang commented on #14
It looks like an open3d issue:

Try this solution:
https://github.com/intel-isl/Open3D/issues/1307

[2020-12-13 01:48] wisper181 commented on #14
It's an open3d issue exactly.I try to pip install open3d==8.0, and it seems to work.
Thx for your help.^_^.Have a good day!
H3Dnet provides a good idea,and I want to duplicate this code.
May I have your personal contact information,like e-mail or whatever?Thx

[2020-12-13 03:40] zaiweizhang commented on #14
Hi,

I am glad that you are interested in our work!
If you have any code related questions, you can just ask it here.
For other questions, you can reach me at my email zaiweizhang at utexas dot edu

Thanks,
Zaiwei

[2020-12-13 03:40] #14 closed, assigned to yanghtr, zaiweizhang

[2020-12-13 03:50] wisper181 commented on #14
okk，Thx again！

[2020-12-18 07:22] ramanpreet9 commented on #13
Thanks for the info.
May I check if there are scripts available to convert rgbd data into a scannet or sunrgbd format you are using in the model.

for scannet - I see two files.
eg.
'scene0000_00_vert.npy'   - 50,000 x 6
 'scene0000_00_all_noangle_40cls.npy' - 50,000 x 9

what is the information stored here? I believe _vert file include the vertices of points in the scene. does this represent [X,

[2020-12-19 01:18] zaiweizhang commented on #13
_vert file includes X, Y, Z, R, G, B

cls.npy file includes point-level annotation: bbox center x, bbox center y, bbox center z, bbox size x, bbox size y, bbox size z, bbox rotation angle, point instance label, bbox semantic label.

In order to generate this information, you will need to manually annotate rgbd data. Please refer to this paper for help:
https://arxiv.org/abs/1702.04405

[2020-12-20 13:08] wisper181 commented on #14
Hi, sorry to bother you again. I'm new to the field, and there are some preliminary questions
I want to know if I want to train other class in SUNRGBD(not  the 10-class in paper),where should I modify it?

Following the votenet, I run sunrgbd_data.py to  gen v1 data,and modify some data-config files.
It works on votenet.
But when I use these v1 data on H3DNet, I get this problem:
![image](https://

[2020-12-21 06:47] yanghtr commented on #14
### Problem 1
Our sunrgbd generation is slightly different from votenet. In the original votenet code [extract_rgbd_data_v2.m](https://github.com/facebookresearch/votenet/blob/2f6d6d36ff98d96901182e935afe48ccee82d566/sunrgbd/matlab/extract_rgbd_data_v2.m#L50), only 3D coordinates and RGB are dumped (thus N * 6). We simply add per point semantic (thus N * 7, our data will not lead to IndexError).

[2020-12-22 02:46] wisper181 commented on #14
okk,I will try.
Thank you ^-^
Have a good day!

[2020-12-23 13:12] wisper181 commented on #14
Hi，I try it and have some bugs.  orz...
I get empty folders after running it.

seg2d = load(strcat(seg_label_folder, num2str(imageId, '%06d'), '.mat')

Does it mean that I need to get the  .mat files about instance segmentation firstly?
I try to find solution on SUNRGBD dataset or other  projects, but get nothing
Can you please tell me  where or how I get these .mat files.
THANK YOU!

[2020-12-24 04:03] yanghtr commented on #14
If you follow the instructions of VoteNet, then in the folder `sunrgbd/OFFICIAL_SUNRGBD/SUNRGBDtoolbox/Metadata`, you can find a file `SUNRGBD2Dseg.mat`, which provides the 2D segmentation label. You can extract it yourself according to the official readme in SUNRGBD: [https://rgbd.cs.princeton.edu/data/README.txt](https://rgbd.cs.princeton.edu/data/README.txt).

You can also download our processe

[2020-12-25 15:39] wisper181 commented on #14
okk,it works.
Thx!!!
^_^

[2020-12-27 10:40] praj441 commented on #10
@zaiweizhang
Hi,
I hope you are doing well.
While implementing H3DNet on my custom dataset, I got one confusion regarding the radius of the match_surface_center module and match_line_center module. As far as I can understand, in the paper, it is mentioned that the radius used is 0.05m. While in the code, in file proposal_module_refine.py, there are two thresholds used SURFACE_THRES=0.5 and LINE_TH

[2020-12-27 18:29] zaiweizhang commented on #10
Yeah. That's a mistake. It should be 0.05m. We will fix it in the paper. Thanks for pointing that out!

[2020-12-28 05:50] #10 closed, assigned to nobody

[2021-02-05 02:50] giangdip2410 opened #15 "ImportError: Could not import _ext module."
When I trained model as your guideline , this bug happen. I tried to install step.py at pointnet2 folder but it can't install. Please help me to check . thank you

2021-02-05 02:46:53.256615: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
5285 5050
331 316
Traceback (most recent call last):
  File "/content/drive/My Drive/Compu

[2021-02-05 03:04] zaiweizhang commented on #15
When you are trying to install pointnet2, what's the output?
Can you paste it here? (after you run "python setup.py install")

[2021-02-05 03:54] giangdip2410 commented on #15
@zaiweizhang  thank you for your reply. this bug show then I run "python setup.py install"

running install
running bdist_egg
running egg_info
writing pointnet2.egg-info/PKG-INFO
writing dependency_links to pointnet2.egg-info/dependency_links.txt
writing top-level names to pointnet2.egg-info/top_level.txt
/usr/local/lib/python3.6/dist-packages/torch/utils/cpp_extension.py:339: UserWarning: Attempt

[2021-02-05 03:58] zaiweizhang commented on #15
I think this is your issue: https://github.com/facebookresearch/votenet/issues/83

Please try these changes: https://github.com/erikwijmans/Pointnet2_PyTorch/commit/1d5dca2673ee2831b9b01efe597b2ba8d12726f1

[2021-02-05 04:06] giangdip2410 commented on #15
thank you @zaiweizhang . I will try to downgrade to Torch.1.4

[2021-02-05 04:24] giangdip2410 commented on #15
@zaiweizhang : I downgraded to Torch1.4 this issue was solved but new bug happens:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/pywrap_tensorflow_internal.py", line 28, in

[2021-02-05 06:44] zaiweizhang commented on #15
I think the CUDA version has changed. Do you have CUDA 9.0? Have you set the path correctly?

[2021-02-05 06:46] zaiweizhang commented on #15
Why don't you try to change the pointnet codes following this:
https://github.com/erikwijmans/Pointnet2_PyTorch/commit/1d5dca2673ee2831b9b01efe597b2ba8d12726f1

Then you do not need to downgrade pytorch.

[2021-02-05 06:47] giangdip2410 commented on #15
I do not have CUDA 9.0, now I am using CUDA 10.0. This bug I meet when run your code on Google colab

[2021-02-05 07:28] giangdip2410 commented on #15
@zaiweizhang

I tried to update pointnet2 folder as erikwijmans/Pointnet2_PyTorch@ but it seem not working, same bug happen  (I use goolge colab with default : Touch=1.7.0 and cuda101

2021-02-05 07:25:50.865804: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
5285 5050
331 316
Traceback (most recent call last):
  File "/content

[2021-02-05 07:35] zaiweizhang commented on #15
The changes are made for pytorch 1.4, 1.5 version.
You can downgrade your pytorch 1.7 to 1.5 and keep the same CUDA version.

[2021-02-14 11:11] chrockey opened #16 "Performance of a model with single backbone"
Hi,

Thank you for sharing this great work!
I have a simple question about the performance with single backbone.
What is the mAP@0.25 and mAP@0.5 on both ScanNet and SUN RGB-D when the model use single backbone?

Regards,

[2021-02-15 05:17] zaiweizhang commented on #15
Closing. Feel free to open if you have other questions.

[2021-02-15 05:17] #15 closed, assigned to nobody

[2021-02-15 05:23] zaiweizhang commented on #16
That's a great question! With ScanNet, we have tried with on BB. You should get around 66 mAP@0.25 from scratch.
For SUN RGB-D, we have not tried. You are welcome to try it with yourself.

With the pretrained model from [here](https://github.com/facebookresearch/DepthContrast), we used a backbone model which is about 3x larger than the original one, we are able to achieve around 69 mAP@0.25 for Sc

[2021-02-15 05:53] chrockey commented on #16
@zaiweizhang
Thank you for your kind reply!

[2021-02-15 05:53] #16 closed, assigned to nobody

[2021-02-17 02:37] giangdip2410 opened #17 "Can you share with us pretrained model ?"
Hi,

Have a good day to you. I would like to seek your help for find pretrained model of H3DNet to testing purpose only.
Thank you very much.

[2021-02-17 04:51] zaiweizhang commented on #17
Thank you for interested in our work!

Here is a link to scannet and sunrgbd models with corresponding log file.
https://drive.google.com/file/d/1WGAMrG3cyPkFRHPBdHgwhXfuKFLAQSCh/view?usp=sharing

[2021-02-17 06:39] giangdip2410 commented on #17
thank you very much for your great work

[2021-02-17 13:49] Na-Z opened #18 "Questions on implementation details"
Hi Zaiwei,

Thanks for sharing your work. I have a few questions on your implementation details, which are not consistent with the paper.

1. In Section 3.2, you mentioned that **0.2m** is used to select positive points lying close to BB face or BB edge. However, 0.1 is used for SUN RGB-D dataset in the code:
https://github.com/zaiweizhang/H3DNet/blob/e89d092bdf4c2ab1df576e6c4ff12bcbc2d55b2e/sunrg

[2021-02-18 19:16] #17 closed, assigned to nobody

[2021-02-18 19:26] zaiweizhang commented on #18
Thanks for your interests in our work!

Here are my answers to the questions:
1. For the first question, the best way to choose the threshold is to visualize the label with a couple of scenes and then decide on the threshold. The general rule of thumb is that you want to include labels as dense as possible while not overlapping with too many points in other surfaces or edges.
2. For the second que

[2021-02-21 14:43] Na-Z commented on #18
Thanks for your reply.

I have another question: how are the l_f, l_c, l_o in Eq 2 implemented in the code (ie, loss_helper.py)?
What do  ```objectness_loss_opt``` and ```potential_loss``` mean?

Besides, there seems several errors in the code. Please confirm:
1. https://github.com/zaiweizhang/H3DNet/blob/e89d092bdf4c2ab1df576e6c4ff12bcbc2d55b2e/models/proposal_module_refine.py#L82 I think it shou

[2021-02-21 18:12] zaiweizhang commented on #18
l_f is implemented in [here](https://github.com/zaiweizhang/H3DNet/blob/e89d092bdf4c2ab1df576e6c4ff12bcbc2d55b2e/models/loss_helper.py#L399), l_c is implemented in [here](https://github.com/zaiweizhang/H3DNet/blob/e89d092bdf4c2ab1df576e6c4ff12bcbc2d55b2e/models/loss_helper.py#L116) and it was called [here](https://github.com/zaiweizhang/H3DNet/blob/e89d092bdf4c2ab1df576e6c4ff12bcbc2d55b2e/models/l

[2021-02-22 07:16] Na-Z commented on #18
Got it. Thanks a lot.

[2021-02-22 07:16] #18 closed, assigned to nobody

[2021-02-25 07:52] Na-Z opened #19 "Question about data augmentation on ScanNet"
Hi zaiwei,

When performing data augmentation on ScanNet, you also flipped the height.
https://github.com/zaiweizhang/H3DNet/blob/e89d092bdf4c2ab1df576e6c4ff12bcbc2d55b2e/scannet/scannet_detection_dataset_hd.py#L188
https://github.com/zaiweizhang/H3DNet/blob/e89d092bdf4c2ab1df576e6c4ff12bcbc2d55b2e/scannet/scannet_detection_dataset_hd.py#L195
May I know the reason? As far as I know, the height sho

[2021-02-25 18:29] zaiweizhang commented on #19
Hi Na-Z,

meta_vertices[:, 6] = -1 * meta_vertices[:, 6] This line is actually flipping the angle.
And this line: (meta_vertices[:, 6] += rot_angle ) is applying a global rotation so it would not affect individual objects' front orientation prediction.

[2021-03-01 02:28] #19 closed, assigned to nobody

[2021-03-11 18:52] quocanh010 commented on #13
Hi,
Same question here. If I only have the 3d point-cloud (x,y,z,r,g,b), can I make inference on your trained model? I assumed yes, though the dataloader takes Nx9 array. I guess we can just fill the remaining columns with zeros? Thanks

[2021-03-13 05:57] zaiweizhang commented on #13
Yeah. I think you can do that. Make sure to comment out the evaluation code. Might cause some problems.

[2021-03-17 09:25] giangdip2410 opened #20 "RuntimeError: Expected isFloatingType(grads[i].type().scalarType()) to be true, but got false"
**** EPOCH 000 ****
Current learning rate: 0.010000
Current BN decay momentum: 0.500000
2021-03-17 08:52:17.518997
Traceback (most recent call last):
  File "train.py", line 379, in <module>
    train(start_epoch)
  File "train.py", line 358, in train
    train_one_epoch()
  File "train.py", line 263, in train_one_epoch
    loss.backward()
  File "/usr/local/lib/python3.6/dist-packages/torch/tenso

[2021-03-18 00:21] zaiweizhang commented on #20
This is rarely hard to parse. It might be something wrong with the environment. Have you tried to train any other well-known models? For example, my codebase is built on this [repo](https://github.com/facebookresearch/votenet). Can you try it first? It's more easier to debug since it's simpler and lots of people have been using it.

[2021-03-18 10:03] giangdip2410 commented on #20
@zaiweizhang  : thank you very much for your suggestion, I will try with Votenet first.

[2021-03-26 08:50] giangdip2410 commented on #20
@zaiweizhang  : I uninstall pytorch==1.4.0 and install pytorch==1.2.0, then the bug disappear :) . Environment from PointNet++ to VoteNet, to H3DNet is very difficult to customize due to extend library of pointnet write by C++ , I think ?

[2021-03-26 15:17] zaiweizhang commented on #20
It depends. Sampling and grouping are done in C++. For architecture changes, you can look into the pointnet2_modules.py file.

[2021-03-30 07:50] xuntan97 commented on #16
Hi, i have the same question as you. So i want to know have you test the single backbone. And share the result. Thank you very much!

[2021-03-30 07:52] xuntan97 commented on #16
@chrockey
hi, I have the same question as you. So did you test the single backbone. If so, can you share the result. Thank you very much!

[2021-03-30 16:28] zaiweizhang commented on #20
Feel free to reopen if you have follow up questions.

[2021-03-30 16:28] #20 closed, assigned to nobody

[2021-03-30 16:31] zaiweizhang commented on #16
@xuntan97 I have personally tried it several times. It was 66 mAP@0.25 from scratch for scannet. And with the pretrained model from [here](https://github.com/facebookresearch/DepthContrast), we used a backbone model which is about 3x larger than the original one, we are able to achieve around 69 mAP@0.25 for ScanNet and 63 mAP@0.25 for SUN RGBD. Hope this helps!

[2021-03-31 06:40] xuntan97 commented on #16
@zaiweizhang Thank you for your reply. I still have some questions. In your paper, you give the mAP 60.1% on SUNRGBD. which scale does it use?  And what do you think about the args--use_color,  should we set use or not use.

[2021-03-31 16:30] zaiweizhang commented on #16
That's using four BB without pretraining from the method described [here](https://github.com/facebookresearch/DepthContrast). You should not set the --use_color, it does not give performance gain and sometimes give worse results.

[2021-04-02 06:56] giangdip2410 opened #21 "RuntimeError: Error(s) in loading state_dict for DataParallel:"
Hi Zhang,

I train H3D on 1 GPU, everything is okay. But when I move to train on multi GPUs (4 GPUs), a issue happens .
I tried the solution load layer as order as the guide https://github.com/bearpaw/pytorch-classification/issues/27 but the issue still happens. Do you have any idea about this issue ? Thank you very much.

   net.load_state_dict(new_state_dict['module.model_state_dict'])

[2021-04-02 16:55] zaiweizhang commented on #21
Yes. I know the reason. When you are trying to use multiple GPUs, the network parameter will be named as "module." + the actual name. So if you want to load the pre-trained weight, you will have to update the names of the pretrained model. Please look at this [code](https://github.com/zaiweizhang/H3DNet/blob/e89d092bdf4c2ab1df576e6c4ff12bcbc2d55b2e/checkpoint.py#L40) for reference.

[2021-04-05 04:47] giangdip2410 commented on #21
yeah, thank you so much @zaiweizhang . It is exactly what I need :)

[2021-04-05 16:36] #21 closed, assigned to nobody

[2021-05-04 10:28] giangdip2410 opened #22 "Finetunning H3DNet on Sub ScannetV2 ( 3 class only)"
Hi Zhang,

I am trying to finetune your model on sub dataset of Scannet V2 ( I pick only most 3 popular classes ). Do you have any suggestion for me ? I tried to freeze your weight and only train last layer but the mAP  was not increased.

Thank you very much,

[2021-05-05 05:09] zaiweizhang commented on #22
I actually not sure training on 3 classes alone will guarantee you a performance boost. Can I get a bit more insight? When you are fine-tuning, you said mAP was not increased. Is there a performance drop or it maintains the same?

[2021-05-13 10:37] giangdip2410 commented on #22
Hi bro @zaiweizhang , thank you so much. I found my issue, first time I use load weights with strict=False as suggest of Pytorch author. But It dose not work (map decrease strongly ). So I try to load weights layer by layer , and drop all layer dose not match with your pretrained model. after finetuning mAP (IOU 0.5) increases 4% vs your model.

But when I check with my test data, the model is not

[2021-05-13 17:07] zaiweizhang commented on #22
For "check with my test data", you mean your customized data right? Your input sampling strategy may make a difference. You can try one sampling, fix your input and test multi-times on the pretrained model. If the results vary a lot, it means that there are something unstable in the pretrained model. If the results do not vary a lot, it means that your input sampling strategy is unstable.

When I

[2021-05-14 04:01] giangdip2410 commented on #22
@zaiweizhang  :you are correct, I tested with custom data. I understand your point, in my case my original is point cloud data consisting of 5m points, if I fix the sampling strategy ( I fix the seed) the result is stable. So I think the instability comes from sampling the data from the original data. Because my data consists of 5m points, after sample to 50k points, sometimes the model predicts w

[2021-05-14 04:50] zaiweizhang commented on #22
What is your sampling method? For pointcloud, the common practice is to use furthest point sampling. If you are not using that, I would suggest you try that. In addition, you can also try larger input point cloud size. For 5m, maybe you can try 80k and 100k points. Hope it helps!

[2021-05-14 08:15] giangdip2410 commented on #22
@zaiweizhang : Thank you very much . Currently I only use numpy.random.choice to make point sampling, maybe I should try other algorithm for sample point. I will also try more like 80k or 100k sampling points, but my concern is the model was trained on data with 40k point cloud, so if I use the model to test for data 100k points, the input must be sample to 40k points to be able to fit to model, a

[2021-05-14 14:56] zaiweizhang commented on #22
If you are using numpy.random.choice, I would highly suggest you use the furthest point sampling method. I am confident that it may cause the issue. Pointnet can take variable sized input. You do not need to sample to 40k for it to work.

[2021-05-15 04:16] giangdip2410 commented on #22
@zaiweizhang : thank you very much for your suggestion. I will try to use the furthest point sampling method. Have a nice weekend.

[2021-05-15 05:56] #22 closed, assigned to nobody

[2021-06-02 09:25] giangdip2410 opened #23 "Train H3DNet on Stanford 3D-Semantics Dataset"
Hi bro @zaiweizhang ,

I am trying to train H3DNet on Stanford 3D-Semantics Dataset. When I convert Stanford 3D-Semantics Dataset to Scannet V2 format, I face a difficult for "sence_all_noangle_40cls.npy".  Could you please share with me your code for convert to "sence_all_noangle_40cls.npy" ? As I read your code and VoteNet, column 8th at file "all_noangle_40cls.npy" is instance_labels and column

[2021-06-02 18:07] zaiweizhang commented on #23
@yanghtr Can you take a look at this question?

[2021-06-03 09:12] giangdip2410 commented on #23
@zaiweizhang : thank you so much.

[2021-06-30 06:52] yanghtr commented on #23
The 7th column should be the oriented angle. You can check all the data in scannet and meta_data[:, 6] should all be 0 since we do not consider bounding box angle in scannet.

[2021-07-02 06:29] giangdip2410 commented on #23
@yanghtr : thank you for you reply.

[2021-07-18 14:49] AbdulazizAlnahhas commented on #15
I tried to downgrade pytorch to 1.5.1 and the same error still appeared
Any ideas?

[2021-07-19 15:22] zaiweizhang commented on #15
Are you using the same CUDA version?

[2021-07-19 17:37] #23 closed, assigned to nobody

[2021-07-24 08:13] FengLoveBella opened #24 "viewpoint.json"
Thanks for the code, nice work. Would you share the 'viewpoint.json' file which used in 'show_results_scannet.py'? When I tried to run the code I found the code cannot find the 'viewpoint.json'.

[2021-08-11 09:24] SumingNTUT commented on #24
I have same problem, if you know how to fix it,

please tell me

Thank you

[2021-08-11 13:21] FengLoveBella commented on #24
@SumingNTUT By the way, I found when I use the code, I got a plausible mAP, however, when I use show_result_scannet to visualize the result, I found the results are bad, although the BBs are okay, however the classification results are almost wrong.
![scene0015_00_pred](https://user-images.githubusercontent.com/11606333/129036138-cbe793b5-d5ec-49e1-a346-5503abf8a4dd.png)
![scene0015_00_gt](https:/

[2021-08-11 16:24] zaiweizhang commented on #24
@GitBoSun Would you mind looking at this issue?

[2021-08-11 23:00] GitBoSun commented on #24
Hi, thanks for your interest to our work!
I have uploaded `viewpoint.json` to the `utils` folder.
As for the object color, there is `color_mapping` for each semantic label in line29. We assume the last dimension of the ouput boundingboxes denotes the semantic labels (line 108-111). Did you pass the correct semantic labels?

[2021-08-12 06:31] FengLoveBella commented on #24
@zaiweizhang @GitBoSun Thanks for your reply. I am afraid 'color mapping' which used in the code is not non-proper (I used the original code directly). I found a very interesting thing, I used the code to train a model (360 epoch), and the mAP@ 0.25 = eval mAP: 0.660502, and mAP@0.5 = eval mAP: 0.472760, I suppose which means the bounding box prediction is okay. However, when I try to visualize th

[2021-08-12 06:43] GitBoSun commented on #24
This looks weird for me. Could you please provide the MAP for each category in the training log?

[2021-08-12 06:46] zhoufengbuaa commented on #24
@GitBoSun Sure.
-------------------------------------------
eval cabinet Average Precision: 0.454509
eval bed Average Precision: 0.899022
eval chair Average Precision: 0.927298
eval sofa Average Precision: 0.910974
eval table Average Precision: 0.636143
eval door Average Precision: 0.563234
eval window Average Precision: 0.533729
eval bookshelf Average Precision: 0.506288
eval picture Average Prec

[2021-08-12 06:47] zhoufengbuaa commented on #24
@GitBoSun Sure.
----------------------------------
eval cabinet Average Precision: 0.454509
eval bed Average Precision: 0.899022
eval chair Average Precision: 0.927298
eval sofa Average Precision: 0.910974
eval table Average Precision: 0.636143
eval door Average Precision: 0.563234
eval window Average Precision: 0.533729
eval bookshelf Average Precision: 0.506288
eval picture Average Precision: 0.

[2021-08-12 07:00] FengLoveBella commented on #24
@GitBoSun  the log_train file is as follows:
[log_train.txt](https://github.com/zaiweizhang/H3DNet/files/6973372/log_train.txt)

[2021-08-12 07:03] FengLoveBella commented on #24
@GitBoSun Sure.
--------------------------------------
eval cabinet Average Precision: 0.454509
eval bed Average Precision: 0.899022
eval chair Average Precision: 0.927298
eval sofa Average Precision: 0.910974
eval table Average Precision: 0.636143
eval door Average Precision: 0.563234
eval window Average Precision: 0.533729
eval bookshelf Average Precision: 0.506288
eval picture Average Precision

[2021-08-12 21:03] yanghtr commented on #24
@zhoufengbuaa  If you use the provided pretrained checkpoint, can you get reasonable bounding box predictions?  If the mAP is reasonable, the predicted label should also be reasonable. If the network is trained correctly, it should predict reasonable semantic.

[2021-08-13 04:08] FengLoveBella commented on #24
@yanghtr Thanks for the reply. The mAP is plausible, however, the classification label is horrible, which is really weird.
I cannot find the pre-trained model, could you share it which we can use directly. There would be very useful for testing there is something wrong with my training process or something else. I did find there is a pre-trained model (https://github.com/facebookresearch/DepthCont

[2021-08-13 04:46] zaiweizhang commented on #24
I do not think the prediction results are awfully off. Since the code has been tested through multiple third party users, I think the color mapping or the label mapping is wrong. Would you mind providing some insights? @GitBoSun

[2021-08-13 05:10] yanghtr commented on #24
@zhoufengbuaa There is a pretrained model here: https://github.com/zaiweizhang/H3DNet/issues/11

[2021-08-13 06:11] GitBoSun commented on #24
@zaiweizhang Their GT colors are correct and predicted semantic labels are wrong. Since the output labels are [33, 33, 33, 33, 33, 33, 33, 33, 33, 28, 33, 11, 33, 33, 33, 11, 33, 33, 10, 10, 10, 33, 10, 33, 10, 36, 33, 33, 28, 33, 10, 10, 33, 33, 11, 33, 33], they had the colors corresponding to 33. I'm not sure what happened.

[2021-08-13 06:24] FengLoveBella commented on #24
@yanghtr @zaiweizhang I used the pre-trained model and got a similar results.
![Screenshot from 2021-08-13 14-21-33](https://user-images.githubusercontent.com/11606333/129313853-2348b624-1861-4aa9-aa95-f3294bb80aae.png).
And the log_eval file is as follows
[log_eval.txt](https://github.com/zaiweizhang/H3DNet/files/6980308/log_eval.txt)

[2021-08-13 18:19] zaiweizhang commented on #24
Hi,

The issue is the dump helper fuction. We did not dump the correct prediction labels. Now we have fixed the issue. Please check!
Thanks for the help in solving this issue! We really appreciate it.

Zaiwei

[2021-08-14 01:04] FengLoveBella commented on #24
@zaiweizhang Cool, the problem is solved, come again, good job.

[2021-08-14 01:04] #24 closed, assigned to nobody

[2022-03-06 08:26] SnowPi opened #25 "Error when train on sunrgbd"
![image](https://user-images.githubusercontent.com/25281085/156915220-42c42fc4-ec9f-43ec-ab10-5ac0ac116eaf.png)

i'm confused about that

[2022-03-06 21:16] zaiweizhang commented on #25
I believe this is just a comment error. @yanghtr

[2022-03-07 01:19] SnowPi commented on #25
When using the data you provided, there is no problem. If you're using a different data processing approach with VoteNet's, it's better to point it out. thanks.

[2022-03-10 04:59] yanghtr commented on #25
Sorry the comment might be wrong (legacy). You can load the data to check it.

[2022-03-10 05:44] #25 closed, assigned to nobody

[2022-05-15 11:07] Dhanalaxmi17 commented on #24
Hi @zaiweizhang and @GitBoSun,
Thank you for this repo.
I am trying to see the visualizations, but when I ran show_results_scannet.py, I could only get the bounding boxes, but how do I get the scene and bounding boxes on top of it. can you please help me to get this issue solved for me.
Thank you

![image](https://user-images.githubusercontent.com/37540665/168469530-865fe81a-5509-4f70-8611-165aab9

[2022-05-15 11:09] Dhanalaxmi17 opened #26 "Visualizations"
Hi @zaiweizhang and @GitBoSun,
Thank you for this repo.
I am trying to see the visualizations, but when I ran show_results_scannet.py, I could only get the bounding boxes, but how do I get the scene and bounding boxes on top of it. can you please help me to get this issue solved for me.
Thank you

![image](https://user-images.githubusercontent.com/37540665/168469530-865fe81a-5509-4f70-8611-165aab9

[2022-05-15 12:59] Dhanalaxmi17 commented on #26
if I use, tmp.xyz instead of xyzrgb in "pcd = o3d.io.read_point_cloud('tmp.xyzrgb')" I am getting this,
![image](https://user-images.githubusercontent.com/37540665/168474096-294eebc2-8687-4bc7-a56b-8430081cb52e.png),

[2022-05-15 13:11] Dhanalaxmi17 commented on #26
Hi,
Thanks,
I could solve it by dividing pcd points with "np.array([1 , 1, 1,255, 255, 255])"

    pt = np.load(os.path.join(GT_PATH, scan_name+'_vert.npy'))
    b = np.array([1 , 1, 1,255, 255, 255]) # The number to divide in each column
    np.savetxt('tmp.xyz', pt[:,:6]/b)

![image](https://user-images.githubusercontent.com/37540665/168474554-1c2f6a6d-474f-4c47-8669-c202158e7194.png)

Thank you

[2022-05-15 13:11] #26 closed, assigned to nobody

[2022-07-05 08:30] zhengxinpeng commented on #15
The code is tested with Ubuntu 18.04, Pytorch v1.1, TensorFlow v1.14, CUDA 10.0 and cuDNN v7.4.

[2022-11-15 06:38] mutianxu opened #28 "Problems for pre-processed data"
Dear author,

Thanks for your great work!

I have two problems about your pre-processed data.

1. As indicated in your readme, the pre-processing procedure is same with votenet. However, after processed by votenet code, there will be no _all_noangle_40cls.npy for producing the meta_vertice in your [code here](https://github.com/zaiweizhang/H3DNet/blob/master/scannet/scannet_detection_dataset_hd.py

[2022-11-15 22:13] zaiweizhang commented on #28
1. We use similar pre-processing procedure but we do need extra codes to find the surface and line points.
2. The data link has been updated.

Please take a look now.

[2022-11-16 04:14] #28 closed, assigned to nobody

[2022-11-16 08:33] mutianxu opened #29 "One inplace error"
Hi,

I find that [here](https://github.com/zaiweizhang/H3DNet/blob/master/models/proposal_module_refine.py#L358), += may cause inplace error in many versions of PyTorch.

You may revise it by "net = net + original_feature".

[2022-11-17 05:12] zaiweizhang commented on #29
fixed. Thanks for the info!

[2022-11-17 05:12] #29 closed, assigned to nobody

[2022-11-29 11:18] CocoRin5932 commented on #17
Hi.
I would like to use the pretrained model of H3DNet too, but the shared link is no longer available.
Could you share it again, please?